* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #303a4c;
    --color-grey-6: #12181b;
    --color-grey-5-1: #303a4c;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #0085ff;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
}


body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;

}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;

}

.section {
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);

}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;

    @keyframes scaleAnim {
        0% {
            transform: translateY(-100%) scaleY(0);
        }

        100% {
            transform: translateY(0) scaleY(1)
        }
    }
}


.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);

    .active-btn {
        background-color: var(--color-secondary);
        transition: all .4s ease-in-out;

        i {
            color: var(--color-white);
        }
    }

    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);

        i {
            font-size: 1.2rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }

    }

}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;

    .left-header {
        display: flex;
        align-items: center;
        position: relative;

        .h-shape {
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 68% 0, 86% 100%, 0% 100%);

        }

        .image {
            border-radius: var(--br-sm-2);
            height: 80%;
            width: 69%;
            margin-left: 4rem;
            transition: all .4s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);

                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;

        .name {
            font-size: 3rem;

            span {
                color: var(--color-secondary);
            }
        }

        p {
            margin: .5rem 0;
            line-height: 2rem;
        }
    }
}


.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;

    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        width: 500px;
        height: 240px;

        .about-item {
            border: 1px solid var(--color-grey-5);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15 px rgba(0, 0, 0, .1);

            &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 4px 15 px rgba(0, 0, 0, .32);
            }

            .abt-text {
                padding: 1.4rem;
                display: flex;
                flex-direction: column;

                .large-text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);

                }

                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: car(--color-grey-1);
                    letter-spacing: 2px;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey-5);
                    }
                }
            }
        }

    }

    .left-about {
        padding-right: 5rem;

        p {
            line-height: 2rem;
            padding: 1rem;
            color: car(--color-grey-1);
        }

        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.about-stats {
    padding-bottom: 4rem;

    .progress-bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding: 2.0rem 0;

        .progress-bar {
            display: flex;
            flex-direction: column;

            .prog-title {
                text-transform: uppercase;
                font-weight: 500;
            }

            .progress-con {
                display: flex;
                align-items: center;

                .prog-text {
                    color: car(--color-grey-2);
                }

                .progress {
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-grey-4);
                    margin-left: 1rem;
                    position: relative;

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: all .4s ease-in-out;
                        width: 100%;
                    }

                    .python {
                        width: 100%;
                    }

                    .html {
                        width: 80%;
                    }

                    .css {
                        width: 90%;
                    }

                    .javascript {
                        width: 80%;
                    }

                    .tensor-flow {
                        width: 85%;
                    }

                    .react-js {
                        width: 65%;
                    }

                    .next-js {
                        width: 70%
                    }
                }
            }
        }
    }
}

.stats-title {
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    padding: 1.7rem 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 65%;
        height: 0.5px;
        background-color: var(--color-grey-5);
        transform: translateX(-50%);
        position: absolute;
        border-top: 10px double var(--color-grey-2);
    }
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.timeline-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.timeline-container:nth-child(1) {
    animation-delay: 0s;
}

.timeline-container:nth-child(2) {
    animation-delay: 1s;
}

.timeline-container:nth-child(3) {
    animation-delay: 2s;
}

.timeline-container:nth-child(4) {
    animation-delay: 3s;
}

.timeline-container:nth-child(5) {
    animation-delay: 4s;
}

.timeline-container:nth-child(6) {
    animation-delay: 5s;
}

.timeline-container:nth-child(7) {
    animation-delay: 6s;
}

.timeline-textbox {
    padding: 20px 30px;
    background-color: var(--color-grey-3);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.lf-cont {
    left: 0;

}

.rt-cont {
    left: 50%;
}

.timeline-container img {
    position: absolute;
    width: 55px;
    border-radius: 65%;
    right: -28px;
    top: 32px;
    z-index: 10;
}

.rt-cont img {
    left: -26px;
    align-items: center;
    border-radius: 65%;

}

.timeline::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    border-radius: 6px;
    animation: moveline 6.45s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
        ;
    }

    100% {
        height: 100;
    }
}


.text-box h2 {
    font-weight: 700;
}

text-box small {
    display: incline-block;
    margin-bottom: 15px;
}

.lf-cont-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--color-grey-3);
    right: -15px;
}

.rt-cont-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--color-grey-3);
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .timeline-container {
        width: 100%;
        padding-left: 88px;
        padding-right: 25px;

    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .rt-cont {
        left: 0;
    }

    .lf-cont img,
    .rt-cont img {
        left: 10px;
    }

    .lf-cont-arrow,
    .rt-cont-arrow {
        border-right: 15px var(--color-grey-4);
        border-left: 0;
        left: 15px;
    }
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;

    .portfolio-item {
        position: relative;
        border-radius: 15px;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
            outline: 5 px solid black;
        }

        .hover-items {
            width: 100%;
            height: 97.5%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;

            h3 {
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
            }

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;

                    i {
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }

                    &:hover {
                        background-color: var(--color-white);

                        i {
                            color: var(--color-primary);
                        }

                    }
                }
            }
        }
    }
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}

.btn-con {
    display: flex;
    flex: flex-start;
}

.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 500;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;

    .btn-text {
        padding: 0 2rem;
    }

    .btn-icon {
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-in-out;
        z-index: -1;
    }

    &:hover {
        transition: all .4s ease-in-out;

        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            transition: all .4s ease-in-out;

        }
    }

}

.main-title {
    text-align: center;

    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 750;

        span {
            color: var(--color-secondary);
        }

        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }
}